.base {
    -fx-background-color: #1D2D44;
}

.infoArea {
    -fx-background-color: #0D1321;
}

.mfx-table-view * {
    -fx-background-color: #0D1321;
}

.mfx-button {

}
.magicButton {
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;

    -fx-background-color: white;
    -fx-padding: 5px 20px 5px 20px;

    -fx-border-color: red;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}